In [1]:
import pandas as pd
from pandas_datareader import data as web
import matplotlib.pyplot as plt

print('Digite o código do ativo: ')
ativo = input()
cotacao_empresa = web.DataReader(f'{ativo}.SA' , data_source = 'yahoo' , start = '10/01/2021' , end ='12/01/2021')
cotacao_empresa.pop('Adj Close')
cotacao_empresa.pop('High')
cotacao_empresa.pop('Low')
cotacao_empresa.pop('Volume')
df_excel = cotacao_empresa.to_excel(f'dados/cotacao_{ativo}.xlsx')
cotacao_empresa

Digite o código do ativo:
lame4

            Open  Close
Date
2021-10-01  4.86   5.06
2021-10-04  5.01   4.64
2021-10-05  4.67   4.70
2021-10-06  4.64   4.96
2021-10-07  4.97   4.82
2021-10-08  4.91   5.00
2021-10-11  5.01   4.99
2021-10-13  5.02   5.10
2021-10-14  5.13   4.99
2021-10-15  4.96   5.31
2021-10-18  6.05   6.41
2021-10-19  6.20   6.31
2021-10-20  6.35   6.31
2021-10-21  6.13   5.67
2021-10-22  5.54   5.41
2021-10-25  5.49   5.47
2021-10-26  5.40   5.14
2021-10-27  5.13   5.26
2021-10-28  5.24   4.87
2021-10-29  4.90   4.83
2021-11-01  4.90   5.10
2021-11-03  5.43   5.78
2021-11-04  5.72   5.66
2021-11-05  5.76   6.08
2021-11-08  6.00   5.80
2021-11-09  5.87   6.16
2021-11-10  6.15   6.12
2021-11-11  6.18   6.24
2021-11-12  6.28   6.59
2021-11-16  6.63   5.98
2021-11-17  6.10   5.83
2021-11-18  5.83   5.86
2021-11-19  5.87   5.89
2021-11-22  5.92   5.49
2021-11-23  5.58   5.47
2021-11-24  5.41   5.69
2021-11-25  5.69   5.80
2021-11-26  5.50   5.54
2021-11-29  5.63   5.64
2021-11-30  5.61   5.47
2021-12-01  5.55   5.10